*.o
*.pyc
*.dll
*.exe
pd.*.z64
.flatpak-builder
extracted
build/CMakeFiles
build/working
build/*.log
build/eeprom.bin
build/*.exe
build/*.ini
build/Makefile
build/*.log1
build/*.dll
build/*.dll.a
build/reshade-shaders
build/src
build/port
build/*.addon64
build/arch.c
build/*.cmake
build/CMakeCache.txt
data/textures
src/assets/*/*.bin
src/assets/*/*.ctl
src/assets/*/*.tbl
src/assets/*/animations/*.bin
src/assets/*/files/audio/*.mp3
src/assets/*/files/bgdata/*.bin
src/assets/*/files/bgdata/*.seg
src/assets/*/files/chrs/*.bin
src/assets/*/files/guns/*.bin
src/assets/*/files/props/*.bin
src/assets/*/files/ob/ob_mid.seg
src/assets/*/fonts/*.bin
src/assets/*/sequences/*.seq
src/assets/*/textures/*.bin
src/generated
tools/mkrom/mkrom
/.vs
CppProperties.json
.idea
.vscode/settings.json
